<div class="row">
    <div class="col-md-3">
        <h2>One Way Binding</h2>
        <div class="row">
            <div class="col-md-4">
                <h3>İnterpolation</h3>
                <p>
                   ad: {{user.name}},soyad: {{user.surname}}
                </p>
                <p>Hesaplama: {{1+2}}</p>
                <div>
                    <img height="200px" src="{{user.favorite_place_image}}" alt="user.favorite_place_image">
                </div>
            </div>
        </div>
    </div>
</div>
