<div style="margin: 2rem;">
<div class="row">
    <div class="col-md-5">
        <input type="text"[(ngModel)]="name">   <br>
        <button (click)="setItem(name);">set item</button>
        <button (click)="getItem();">get item</button>
        <button (click)="clearItem()">clear name item</button>
        <button (click)="clearItem()">clear name item</button>
        <button (click)="checkNameCookie()">check Name Cookie</button>
        <p>name:{{name}}</p>
        <p>cookie value:{{cookieValue}}</p>
        <p>isExist:{{isCookieExist}}</p>
    </div>
    <div class="col-md-2">
        <button [routerLink]="['../local-storage']">go to local-storage</button>
    </div>
</div>
</div>