 
  

 
 <app-navbar></app-navbar>

 <div class="row">
   <div class="col-md-3">
     <app-sidebar></app-sidebar>
    <!-- <ul>
      <li routerLink="home">
        Go to home
      </li>
      <li routerLink="role">
        Go to role
      </li>
      <li routerLink="user">
        Go to user
      </li>
      <ul>
        <li [routerLink]="['user',7]">
           user 7 deteail
      </li>
      <li [routerLink]="['user',7, 'role']">
        user 7 role
    </li>
    </ul>
    </ul> -->
   </div>
   <div class="col-md-9">
    <router-outlet></router-outlet>
   </div>
 </div>

<ngx-spinner></ngx-spinner>
  
