@import "~igniteui-angular/lib/core/styles/themes/index";
 
 $custom-navbar: igx-navbar-theme(
    $text-color:  $text-color,
    $background: $navbar_background_color,
    $idle-icon-color: #ecc256,
    $hover-icon-color: gray
 );
 
@include igx-navbar($custom-navbar);